{% extends "base.html" %}
{% load static %}
{% load tags_menu %}


{% block menu %}
{% menu %}
{% endblock %}


{% block content %}
<section class="shop-list-v2-page">
    <div class="container">
        <div class="heading-sub">
            <h3 class="pull-left">Личные данные</h3>
            <ul class="other-link-sub pull-right">
                <li><a href="#home">Home</a></li>
                <li><a class="active" href="#shop">Shop</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="widget-banner">
            <a href="#" class="images"><img src="{% static 'shop/img/img_add/list5.jpg' %}" alt="images"
                    class="img-responsive"></a>
            <div class="banner-text">
                <h2>Just Press</h2>
                <p>Mini camera by Instax</p>
            </div>
            <div class="banner-button">
                <a href="#" title="button" class="btn-getit">Get It</a>
            </div>
        </div>


        <div class="widget-product-list">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="filter-block">



                        <div class="filter-block-shop filter-cate">
                            <div class="block-title">
                                <h3>Категории</h3>
                            </div>
                            <div class="block-content">
                                <ul>

                                    {% for categor in category %}
                                    <li class="active">
                                        {% if not categor.children.all %}
                                        <a href="{% url 'list' categor.slug %}">{{ categor.title }}</a>
                                        {% endif %}
                                        {% if categor.children.all %}
                                        <p>{{ categor.title }}</p>

                                        {% endif %}
                                        <span class="number">(08)</span>
                                    </li>
                                    {% for children_category in categor.children.all %}
                                    <li class="active" style="padding-left: 20px;">
                                        <a href="{% url 'list' children_category.slug %}">{{ children_category.title }}</a>
                                        <span class="number">(08)</span>
                                    </li>
                                    {% endfor %}
                                    {% endfor %}

                                    <!-- <li>
                                        <a href="#">Accessories</a>
                                        <span class="number">(16)</span>
                                    </li> -->


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-9 col-xs-12">
                    <div class="filter-block bd">
                        <div class="row">
                           
                        </div>
                    </div>


                    <div class="product-list grid_full grid_sidebar grid-uniform">
                    


                        <div class="account-settings">
                            <h2>Профиль</h2>
                            <form action="{% url 'person_update' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="changefirstname">Логин:</label>
                                    <input class="input-data" type="text" class="form-control" id="changefirstname" name="username" value="{{ user.username }}">
                                  </div>
                              <div class="form-group">
                                <label for="changefirstname">Имя:</label>
                                <input type="text" class="form-control" id="changefirstname" name="first_name" value="{{ user.first_name }}">
                              </div>
                              
                              <div class="form-group">
                                <label for="changelastname">Фамилия:</label>
                                <input type="text" class="form-control" id="changelastname" name="last_name" value="{{ user.last_name }}">
                              </div>
                              
                              <div class="form-group">
                                <label for="changeemail">Почта:</label>
                                <input type="email" class="form-control" id="changeemail" name="email" value="{{ user.email }}">
                              </div>
                            
                              
                              <div class="form-group">
                                <label for="changepassword">Пароль:</label>
                                <a href="{% url 'password_update' %}" data-target="#changepasswordinputs">Изменить пароль</a>
                              
                              </div>
                              
                              <button type="submit" class="btn btn-primary btn-data">Сохранить изменения</button>
                            </form>
                          </div>

                   
                  
                    </div>
             
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}